/* 公共样式 */
body { font-family:"Microsoft Yahei"; margin:0 auto; padding:0; font-size:12px; color:#333;  }
div, form, ul, ol, li, span, p, dl, dt, dd { margin:0; padding:0; border:0; }
img, a img { border:0; margin:0; padding:0; }
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-size:12px; }
ul, ol, li { list-style:none }
table, td, input { font-size:12px; padding:0; font-family:inherit; outline:none;}
.bignews { color:#cc0000; }
.blank8 { height:8px; overflow:hidden; clear:both; }
.noneBox { display:none; }
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
img{ vertical-align: top;}
a { outline-style:none; color:#333; text-decoration:none }
a:hover { text-decoration:none; }
i { font-style: normal;}
/* common */
.clearfix:after{ clear:both; content:"\200B"; display:block; height:0;}
.clearfix{ *zoom:1;}
.clear{ clear:both; font-size:0; height:0; line-height:0; overflow:hidden;}
.mt10{ margin-top: 10px !important;}
.ma10{ margin-top: 10px !important;}
.mt15{ margin-top: 15px !important;}
.mt20{ margin-top: 20px !important;}
.mb20{ margin-bottom: 20px !important;}
.mb10{ margin-bottom:10px !important;}
.mt25{ margin-top: 25px !important;}
.mar6 { margin-right:6px; }
.wrap { width:1000px; margin:0 auto; text-align:left; background:#fff; }
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*a,*/
/*a:hover {*/
/*text-decoration: none;*/
/*color: #333;*/
/*}*/
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
/*版心控制*/
.container {
	/*width: 1170px;*/
	width:100%;
	margin: 0 auto;

}
.banxi{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
/*响应式控制 首先让版心实现响应式 */
/*大屏幕*/
@media screen and (min-width: 1200px) {
	.container {
		/*width: 1170px;*/
		width:100%;
	}
	.hidden-lg {
		display: none;
	}
	/*.banner{*/
	/*height:600px;*/
	/*}*/
	.banxi{
		width: 1200px;
		position: relative;
	}
}
/*中等屏幕*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.container {
		/*width: 980px;*/
		width:100%;
	}
	.hidden-md {
		display: none;
	}
	/*.banner{*/
	/*height:400px;*/
	/*}*/
	.banxi{
		width: 1200px;
		position: relative;
	}
}
/*pad屏幕*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	.container {
		/*width: 750px;*/
		width:100%;
	}
	.hidden-sm {
		display: none;
	}
	/*.banner{*/
	/*height:300px;*/
	/*}*/
	.banxi{
		width: 1200px;
		position: relative;
	}
}
/*手机屏幕*/
@media screen and (max-width: 767px) {
	.container {
		/*width: 100%;*/
		width:767px ;
	}
	.hidden-xs {
		display: none;
	}
	.banner{
		height:200px;
	}
	.banxi{
		width: 1200px;
		position: relative;
	}
}
.dd{
	width: 100%;
	height: 200px;
	/*border-bottom: 1px solid #999;*/
}
.bottomtp{
	width: 100%;
	height: 422px;
	background-image: url(../images/hbottom.jpg);
}
.bottomtp img{
	width: 100%;
	height: 100%;
}
.bottomtp_top{
	height: 272px;
	color: #fff;
	border-bottom: 1px solid #2a2a2a;
}
.banxi_l{
	width: 190px;
	height: 100%;
}
.banxi_l img{
	margin-top: 38px;
	width: 166px;
	height: 100px;
	margin-left:12px;
}
.banxi_r{
	width: 184px;
	height: 100%;
}
.banxi_c_ul_li a{
	color: #fff;
}
.banxi_c_foot_u2_son_d  a{
	color: #c0c0c0;
}
.banxi_c{
	width: 822px;
	height: 174px;
	border-left: 1px solid #3b3b3b;
	padding:0 8px;
	margin-top:40px;
	border-right: 1px dashed #3b3b3b;
}
/*友情链接*/
.banxi_c_ul .banxi_c_ul_li a {
	display: inline-block;
	width: 100px;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	background-color: #121212;
	text-align: center;
	margin:0 8px;
	font-weight: 100;
	color: #c0c0c0;
}
.banxi_c_foot_u2_son_d  a{
	color: #c0c0c0;
}
.banxi_c_foot_u2_son{
	width: 820px;
	height: 110px;
	margin-top:36px;
	overflow: hidden;
	margin-left:8px;
}
.banxi_r{
	width: 152px;
	padding-left:18px;
	margin-top:40px;
	color: #c0c0c0;
}
.banxi_r .h3{
	font-size: 16px;
}
.banxi_r .h4{
	margin-top:6px;
	font-size: 22px;
}
.banxi_r .h5{
	margin-top:20px;
	font-size: 16px;
}
.banxi_r ul li{
	margin-top:6px;
	float: left;
	width: 45px;
	height: 45px;
	margin-right:4px;
}
.banxi_r ul li img{
	width: 100%;
	height: 100%;
}
.bottomtp_down{
	color: #c0c0c0;
	height: 148px;
	position: relative;
}
.bottomtp_down .bottomtp_down_ul{
	position: absolute;
	top:26px;
	left: 82px;
	width: 100%;
	height: 30px;
}
.bottomtp_down a{
	float: left;
	display: inline-block;
	color: #adadad;
}
.bottomtp_down  li{
	font-size: 18px;
	display: inline-block;
	/*float: left;*/
}
.bottomtp_down_bqsy{
	position: absolute;
	top:68px;
	left: 455px;
}
.bottomtp_down_icp{
	position: absolute;
	top:90px;
	left: 486px;
}